@using Gabbro_Secret_Manager.Views.Shared;
@model SecretListEntryModel

<td class="pl-25 pr-25">
    <div class="secret-list-value fold"
        >@Model.Secret.Name</div>
</td>
<td class="pl-25 pr-25">
    <div class="flex flex-row gap-10 align-end">
        <div class="secret-list-value fold"
            >@Model.Secret.Value</div>
        <div class="flex flex-col align-center">
            <button type="button"
                _="on click
                    writeText('@Model.Secret.Value') into the navigator's clipboard
                    add .show to the next .tooltip
                        then wait 0.8s
                        then remove .show from the next .tooltip
                "><i class="fa-regular fa-copy"></i></button>
            <span class="tooltip">copied!</span>
        </div>
    </div>
</td>
<td class="w-full pr-25">
    <div class="flex flex-row flex-wrap gap-5 of-auto" style="max-height: 60px;">
        @foreach(var tag in Model.Secret.Tags)
        {
            <span class="tag-select-chip">@tag</span>
        }
    </div>
</td>
<td>
    <div class="flex flex-row gap-5">
        <button
            type="button"
            hx-get="/partials/upsertSecretForm" 
            hx-vals='{
                "id":"@Model.Secret.Id"
            }' 
            hx-target="#content" 
            hx-swap="innerHTML"
            >edit</button>
        <button 
            type="button" 
            class="negative" 
            hx-get="/partials/confirmDeleteSecretListEntry"
            hx-vals='{"@SecretListEntryModel.SecretIdKey":"@Model.Secret.Id"}'
            hx-target="closest tr"
        >delete</button>
    </div>
</td>
