@model Gabbro_Secret_Manager.Views.Shared.SettingsModel
<div class="page flex flex-col align-center" id="settings">
    <div class="card flex flex-col align-center" style="max-width: 1000px;">
        <div id="settings">
            <div class="flex flex-row align-center gap-10">
                <button hx-get="account/logout" hx-target="#settings" hx-swap="outerHTML">log out</button>
                <button type="button" hx-get="actions/export-data">export data</button>
            </div>
            <form hx-post="actions/create-api-key">
                <input name="name" placeholder="name" value="@Model.Name"/>
                <div class="form-error for-name">@Model.NameError</div>
                <button type="submit">create new key</button>
            </form>
            <div>
                @foreach(var apiKey in Model.ApiKeys)
                {
                    <div>
                        <div>
                            <div class="secret-list-value">@apiKey.Name</div>
                            @if (!string.IsNullOrEmpty(apiKey.Value))
                            {
                                <div class="secret-list-value fold">@apiKey.Value</div>
                                <div class="flex flex-col align-center">
                                    <button type="button"
                                        _="on click
                                            writeText('@apiKey.Value') into the navigator's clipboard
                                            add .show to the next .tooltip
                                                then wait 0.8s
                                                then remove .show from the next .tooltip
                                        "><i class="fa-regular fa-copy"></i></button>
                                    <span class="tooltip">copied!</span>
                                </div>
                            }
                            <button type="button">delete</button>
                        </div>
                        <div>
                            <button type="button" hx-vals='{"id": "@apiKey.Id"}'>delete</button>
                            <button type="button">cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
