@model Gabbro_Secret_Manager.Views.Shared.SettingsModel
<div class="page flex flex-col align-center" id="settings">
    <div class="card flex flex-col align-center" style="max-width: 1000px;">
        <div id="settings" class="flex flex-col gap-15">
            <div class="flex flex-row align-center gap-10">
                <button hx-get="account/logout" hx-target="#settings" hx-swap="outerHTML">log out</button>
                <button type="button" hx-get="actions/export-data">export data</button>
            </div>

            <div class="flex flex-col padding-10" style="border-bottom: 1px solid white">
                <h2>api keys</h2>
            </div>
            
            <form hx-post="actions/create-api-key" class="flex flex-row gap-15">
                <div class="flex flex-col gap-10 flex-grow">
                    <input name="name" placeholder="name" class="flex-grow" value="@Model.Name"/>
                    <div class="form-error for-name">@Model.NameError</div>
                </div>
                <button type="submit">create new key</button>
            </form>

            @if (Model.ShowNewKeyWarning)
            {
                <div class="flex flex-col" style="height: 10px;"></div>
                <div class="form-error">new key has been added below. be sure to copy it as this is the only time you will be able to see it.</div>
            }

            <div class="flex flex-col" style="height: 25px;"></div>

            <div class="flex flex-col gap-15">
                @foreach(var apiKey in Model.ApiKeys)
                {
                    <div class="api-key-entry" style="height: 40px;">
                        <div class="api-key-item flex flex-row gap-15 padding-5 j-between">
                            <div class="secret-list-value flex-grow">@apiKey.Name</div>
                            @if (!string.IsNullOrEmpty(apiKey.Value))
                            {
                                <div class="secret-list-value flex-grow" style="max-height: 19px;">@apiKey.Value</div>
                                <div class="flex flex-col align-center">
                                    <button type="button"
                                        _="on click
                                            writeText('@apiKey.Value') into the navigator's clipboard
                                            add .show to the next .tooltip
                                                then wait 0.8s
                                                then remove .show from the next .tooltip
                                        "><i class="fa-regular fa-copy"></i></button>
                                    <span class="tooltip">copied!</span>
                                </div>
                            }
                            <button type="button"
                                _="on click
                                    toggle .hidden on the closest .api-key-item
                                    toggle .hidden on the next .api-key-delete-item
                            ">delete</button>
                        </div>
                        <div class="api-key-delete-item flex flex-row gap-15 padding-5 j-end align-center hidden" style="height: 40px; background: var(--color-bright-bg); border-radius: 5px; transform: translateY(-100%);">
                            <div class="padding-5">Are you sure you want to delete? This action cannot be undone.</div>
                            <button class="negative bg-bb" type="button" hx-vals='{"id": "@apiKey.Id"}'
                                hx-post="actions/delete-api-key"
                                hx-target="closest .api-key-entry"
                                hx-swap="outerHTML"
                            >delete</button>
                            <button class="bg-bb" type="button"
                                _="on click
                                    toggle .hidden on the closest .api-key-delete-item
                                    toggle .hidden on the previous .api-key-item
                            ">cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
