@model Gabbro_Secret_Manager.Views.Shared.UpsertSecretFormModel

<div class="page flex flex-col align-center" id="upsertSecretForm">
    <div class="flex flex-col align-center" style="max-width: 250px">
        <form class="flex flex-col gap-15" hx-post="actions/upsert-secret" hx-target="#upsertSecretForm" hx-swap="outerHTML">
            @if (!string.IsNullOrEmpty(Model.CurrentKey))
            {
                <input type="text" name="currentKey" style="display: none;"
                    value="@(Model.CurrentKey)"
                />
            }
            <div class="flex flex-col gap-5">
                <input type="text" name="Key" class="fs-18" value="@Model.Key"/>
                <div>Key</div>
            </div>
            <div class="flex flex-col gap-5">
                <input type="text" name="Value" class="fs-18" value="@Model.Value"/>
                <div>Value</div>
            </div>
            <div class="flex flex-col gap-5">
                <input type="text" name="Comments" class="fs-18" value="@Model.Comments"/>
                <div>Comments</div>
            </div>
            <div class="flex flex-col gap-5">
                <div>
                    <div>
                        <input type="text" name="TagSearch" class="fs-18" value="@Model.Comments"/>
                        <div>
                            tag suggestions
                        </div>
                    </div>
                    <button type="button">Add Tag</button>
                </div>
                <div id="tagBox">
                    @foreach(var tag in Model.Tags)
                    {
                        <label class="tag-select-chip">@tag</label>
                        <input type="text" name="tags" value="@tag" style="display: none;"/>
                    }
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="form-error">@Model.Error</div>
            }
            <div class="flex flex-row j-between">
                <button class="positive" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

