@using Gabbro_Secret_Manager.Views.Shared;
@model UpsertSecretFormModel

<div class="flex flex-col align-center" id="upsertSecretForm" hx-target="#tagBox" hx-swap="beforeend">
    <div class="card flex flex-col align-center">
        <form id="createTagForm" hx-get="partials/upsertSecretFormTag"></form>
        <form class="flex flex-col gap-50" hx-post="actions/upsert-secret" spellcheck="false" hx-target="#upsertSecretForm" hx-swap="outerHTML">
            @if (!string.IsNullOrEmpty(Model.CurrentKey))
            {
                <input type="text" name="currentKey" style="display: none;"
                    value="@(Model.CurrentKey)"
                />
            }
            <div class="flex flex-col gap-5">
                <input type="text" name="key" class="fs-16" value="@Model.Key"/>
                <div>key</div>
            </div>
            <div class="flex flex-col gap-5">
                <textarea type="text" name="value" class="secret-upsert-value fs-16" _="install AutoResize">@Model.Value</textarea>
                <div>value</div>
            </div>
            <div class="flex flex-col gap-5">
                <textarea type="text" name="comments" class="secret-upsert-value fs-16" _="install AutoResize">@Model.Comments</textarea>
                <div>comments</div>
            </div>
            <div class="flex flex-col gap-5">
                <div class="flex flex-row gap-10">
                    <div class="flex-grow flex flex-col gap-10">
                        <input type="text" name="value" class="fs-16 w-full" placeholder="add tag" form="createTagForm" 
                        _="on htmx:afterRequest from #createTagForm set my value to '' end
                            on focus
                                remove .hidden from the next <div />
                                send keyup to me
                            end
                            on mousedown from elsewhere
                                if (the next <div />) does not match .hidden and (the next <div />) does not contain the event's srcElement
                                    add .hidden to the next <div /> 
                                end
                            end
                            on keyup
                               show <span /> in the next <div /> when it's innerHTML contains my value
                            end
                            on completed
                                add .hidden to the next <div />
                                send keyup to me
                            end
                        "/>
                        <div class="hidden position-relative" style="height: 0;">
                            <div class="flex flex-col gap-15 align-start panel position-absolute w-full">
                                @foreach(var suggestion in Model.TagSuggestions)
                                {
                                    <span _="on click set (the previous <input/>)'s value to my innerHTML send completed to the previous <input />" class="tag-select-chip">@suggestion</span>
                                }
                            </div>
                        </div>
                    </div>
                    <button type="submit" form="createTagForm">Add</button>
                </div>
                <div>tags</div>
                <div style="height: 15px;"></div>
                <div id="tagBox"  class="flex flex-wrap gap-10" style="max-width: 500px;">
                    @foreach(var tag in Model.Tags)
                    {
                        @await Html.PartialAsync("UpsertSecretFormTag", new UpsertSecretFormTagModel { Value = tag })
                    }
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="form-error">@Model.Error</div>
            }
            <div class="flex flex-row j-between">
                <button class="positive" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

