@using GabbroSecretManager.UI.Bulma.Components.Elements
@code {
    [Parameter, EditorRequired]
    public required List<(long Id, GabbroSecretManager.Core.Models.Secret Secret)> Secrets { get; set; }

    [Parameter]
    public bool Swap { get; set; } = false;
    private Dictionary<string, object> _attributes = new();
    protected override void OnInitialized()
    {
        if (Swap)
            _attributes["hx-swap-oob"] = "true";
    }
}

<tbody id="secret-list" @attributes=_attributes>
    @foreach(var (id, secret) in Secrets){
        <tr>
            <td>
                <div class="is-flex gap-2">
                    <div class="secret-list-key">
                        @secret.Key
                    </div>
                    <input name="tag" type="hidden" value="@secret.Key"/>
                    <button
                        _="on click
                            writeText('@secret.Key.Replace("'", "\\'")') into the navigator's clipboard
                            set target to the first <i/> in me
                            add .is-primary to me
                            remove .fa-copy from target
                            add .fa-check to target
                            wait 1.3s
                            remove .is-primary from me
                            remove .fa-check from target
                            add .fa-copy to target
                        "
                        class="button is-dark is-small">
                        <span class="icon is-small">
                            <i class="fas fa-copy"></i>
                        </span>
                    </button>
                </div>
            </td>
            <td>
                <div class="is-flex gap-2">
                    <div class="secret-list-value">
                        @secret.Value
                    </div>
                    <button
                        _="on click
                            writeText('@secret.Value.Replace("'", "\\'")') into the navigator's clipboard
                            set target to the first <i/> in me
                            add .is-primary to me
                            remove .fa-copy from target
                            add .fa-check to target
                            wait 1.3s
                            remove .is-primary from me
                            remove .fa-check from target
                            add .fa-copy to target
                        "
                        class="button is-dark is-small">
                        <span class="icon is-small">
                            <i class="fas fa-copy"></i>
                        </span>
                    </button>
                </div>
            </td>
            <td>
                <div class="tags">
                    @foreach(var tag in secret.Tags)
                    {
                        <Tag 
                            ColorClasses="has-background-info-25 has-text-info"
                            IsMonospace="true" IsStatic="true" Text="@tag" />
                    }
                </div>

            </td>
            <td>
                <ActionsDropdown>
                    <button 
                        class="dropdown-item"
                        hx-swap="none"
                        _="on htmx:afterOnLoad
                            if event.detail.xhr.status == 204
                                then remove the closest <tr/>"
                        hx-confirm='Are you sure you want to delete the secret "@secret.Key?"'
                        hx-delete="/secret/@id">
                        <span class="icon has-text-danger">
                            <i class="fa-solid fa-trash"></i>
                        </span>
                        <span>delete</span>
                    </button>
                    <button 
                        class="dropdown-item"
                        hx-swap="none"
                        hx-get="/secret/@id">
                        <span class="icon has-text-info">
                            <i class="fa-solid fa-pencil"></i>
                        </span>
                        <span>edit</span>
                    </button>
                </ActionsDropdown>

            </td>
        </tr>
    }
</tbody>
